:root {
    --main-font: 'Montserrat', sans-serif;
    --main-text-color: #F1FFEE;
    --background-color: #2b4d33;
    --accent-color: #c2af7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

body {
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--main-text-color);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 26px;
    font-weight: 500;
}

h4 {
    font-size: 26px;
    font-weight: 500;
}

strong {
    font-weight: 550;
}


/* HeaDer */

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: var(--background-color);
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: scale(1.3);
    transform-origin: top; */
    z-index: 0;
}

.title {
    margin: 0;
    font-size: 8rem;
    font-weight: 700;
}

.subtitle {
    margin: -0.15em;
    font-size: 1.2rem;
    font-weight: 550;
}

.header-content {
    text-align: center;
    transform: translateY(-18%);
    z-index: 1;
}

/* Professional Experience */

.section {
    background-color: var(--background-color);
    padding: 6em 0;
}

.professional-experience {
    position: relative;
}

.experience-title {
    text-align: center;
}

.experience-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    gap: 0.8em;
}

.experience-button {
    background-color: #3a913c;
    display: block;
    width: 700px;
    text-align: center;
    /* border: #AA996C 3px solid; */
    transition: all 0.4s ease 0.05s;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}

.experience-button p {
    margin: 0.8em;
}

.experience-button:hover,
.experience-button:focus-visible {
    background-color:var(--accent-color);
    color: var(--background-color);
    transform: scale(1.05);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.professional-experience::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 2px;
    background-color: var(--accent-color);
    margin: 0 auto;
}


/* Skills */

.skills-title {
    text-align: center;
}

.skills-wrapper {
    overflow: hidden;
    display: flex;
    gap: 0.25em;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 0.25em;
    white-space: nowrap;
    list-style: none;
    animation: slide-left 20s infinite linear;
}

.skills-list li {
    flex: 0 0 auto;
    padding: 1em;
    color: var(--accent-color);
    font-size: 1.2rem;
    text-align: center;
}

@keyframes slide-left {
    from { translate: 0; }
    to { translate: -100%; }
}