:root {
    --main-font: 'Montserrat', sans-serif;
}

body {
    font-size: 21px;
    font-family: var(--main-font);
}

header {
    margin: 50px auto;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: seagreen;
}