:root {
    --main-font: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-size: 21px;
    font-family: var(--main-font);
    background-color: #3B6255;
}

header {
    margin: 50px auto;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 26px;
    font-weight: 500;
    color: #F1FFEE;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    color: #F1FFEE;
}

h4 {
    font-size: 26px;
    font-weight: 500;
    color: #F1FFEE;
}

header {
    color: #3B6255;
    text-align: center;
    margin: 50px auto;
}

.experiences {
    background-color: #AAC1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    gap: 20px;
}

.experience {
    text-align: center;
    width: 100%;
    /* border: #AA996C 3px solid; */
    padding: 20px 0;
    background-color: #d2c49e;
    transition: all 0.5s ease 0.1s;
}

.experience:hover {
    background-color:#AA996C;
    color: #31572C;
    transform: scale(1.02);
    cursor: pointer;
}

.experience-link {
    display: block;
    width: 620px;
}

a {
    text-decoration: none;
    color: inherit;
}

.experience:hover h2,
.experience:hover h3 {
    color: #3B6255;
}

.experience h2,
.experience h3 {
    transition: all 0.5s ease 0.1s;
}